[run]
branch = True
source = dsawl

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise AssertionError
    raise NotImplementedError
    raise RuntimeError
    raise AttributeError
    raise ValueError
    if __name__ == .__main__.:
    pass
